.bg {
    position: absolute;
    top: 5em;    
    width: 100%;
    border-top: 2.5px solid rgb(243, 144, 71);
    }
    .ben{position: absolute;
        left: 2em;
    width: 120px;
    }
    .text1{
        position: absolute;
        top: 5em;
        left: 0.5em;
        text-align: center;
        font-family:'Broadway' ;
        color:  rgb(243, 144, 71);
        font-size: 25px;
    }
    form {
        position: relative;
        left: 13em;
        top: 0.5em;
        width: 250px;
    }
        
        .d1 input {
            width: 100%;
            height: 40px;
            padding-left: 10px;
            border: 1px ;
            border-radius: 10px;
            outline: none;
            background: rgb(214, 210, 210);
            color: #9E9C9C;
          }
          .d1 button {
            position: absolute; 
            top: 0;
          right: -1em;
            width: 41px;
            height: 41px;
            border: none;
            background:  rgb(243, 144, 71);
            border-radius: 10px;
            cursor: pointer;
          }
          .d1 button:before {
       
            font-family: FONTAW;
            font-size: 16px;
            color: #F9F0DA;
          }
          .lup{margin-top: 0.5em;
            width: 18px;
          }
          .iconk{
            list-style: none;
            display: flex;
            color: black;
            font-family: "Century Gothic";
            margin-left: 30em;
          }
          .a {display: inline;
            text-decoration: none;
            color: black;
        margin-top: -1em;
        margin-left: 7em;
        line-height: 80%;
          }
          .t1{
            position: absolute;
            font-weight: bolder;
            font-family: "Century Gothic";
            top: 8em;
            left: 11em;
            font-size: 30px;
          }
          iframe {position: absolute;
            top: 20em;
            left: 20em;
            width: 700px;
            height: 450px;
          }
          .opic{
position: absolute;
top: 25em;
left: 70em;
font-family: "Century Gothic";
          }
  .pust{
    position: absolute;
    display: inline-block;
    top: 22em;
    left: 68em;
    height:400px;
  border: 2px solid rgb(243, 144, 71);
  }        
.q1{position: absolute;
    top: 68em;
    left: 20em;
    width: 700px;
    height: 450px;
  }
  .t2{
    position: absolute;
    font-weight: bolder;
    font-family: "Century Gothic";
    top: 33em;
    left: 11em;
    font-size: 30px;
  }

  .opicc{
    position: absolute;
    top: 73em;
    left: 70em;
    font-family: "Century Gothic";
              }
.pustt{
position: absolute;
 display: inline-block;
 top: 71em;
  left: 68em;
       height:380px;
    border: 2px solid rgb(243, 144, 71);
   }    
   .AO{
    position: absolute;
            top:115em;
            left: 20em;
            width: 700px;
            height: 450px;
   } 
   .AS{
    position: absolute;
    font-weight: bolder;
    font-family: "Century Gothic";
    top: 58em;
    left: 11em;
    font-size: 30px;
  }
  .opiccc{
    position: absolute;
    top: 118em;
    left: 70em;
    font-family: "Century Gothic";
              }
.pusttt{
  position: absolute;
  display: inline-block;
  top: 116em;
   left: 68em;
        height:380px;
     border: 2px solid rgb(243, 144, 71);
   }    